{{#extends 'base'}}

{{#block 'content'}}

<h1>Deleting Order No. {{order.id}}</h1>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />

    <div class="alert alert-danger">
        <p>Are you sure you want to delete order no. {{order.id}}?</p>
        <input type="submit" class="btn btn-danger" value="Yes"/>
        <a href="/orders" class="btn btn-success">Cancel</a>
    </div>
</form>
{{/block}}
{{/extends}}